/* Assigns different colors to different HTML tags */
$black-color: #3D3D3D;
$grey-color: #6D6D6D;
body {
    color: $black-color;
    background-color: $grey-color;
}

p {
    color: $black-color;
}

h2 {
    background-color: $grey-color;
}